<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}
input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 16px;
}
fondo{background: white url(fondo.gif) no-repeat center center;
background-attachment: fixed;
}
#demo {
background: #D0E4F5 url("http://html-css-js.com/images/smiley.png") no-repeat scroll 0 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 35%;
    font-size: 20px;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.imgcontainer {
    text-align: left;
    margin: 0px 0 0px 0;

}
.titlecontainer {
    text-align: center;
    margin: 0px 0 0px 0;
    }

img.avatar {
    width: 20%;
    top: 0px;
}
.container {
    padding: 1px; 
    
    

}

span.psw {
    float: right;
    padding-top: 16px;2}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
#field_instance_id {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}


#Font {
font-family: "Georgia, serif, monospace;
font-size: 26px;
letter-spacing: 1px;
word-spacing: -2px;
color: #FFFFFF;
font-weight: 10000;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
}



</style>

